  <form ng-submit="ctrl.addListItem(ctrl.list_item)"
    style="margin-top:30px;">
    <h3>Add a New Todo</h3>
    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="title"
      ng-model="ctrl.list_item.title"></input>
    </div>
    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="location"
      ng-model="ctrl.list_item.location"></input>
    </div>
    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="You'd like to finish this goal by"
      ng-model="ctrl.list_item.date"></input>
    </div>
    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Describe what you want to do there"
      ng-model="ctrl.list_item.description"></input>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>
