
  <form ng-submit="ctrl.addListItem(ctrl.list_item)"
    style="margin-top:30px;">
    <h4>Add another item</h4>
    <div class="form-group">
      <label>What are you calling it?</label>
      <input type="text"
      class="form-control"
      ng-model="ctrl.list_item.title" required></input>
        <div role="alert">
          <span class="error" ng-show="input.$error.required">
         Required!</span>
        </div>
    </div>
    <div class="form-group">
      <label>When are you doing this by?</label>
      <input type="date"
      class="form-control"
      placeholder="mi"
      ng-model="ctrl.list_item.date"
       [min="2015-08-01"]
        required></input>
        <div role="alert">
          <span class="error" ng-show="input.$error.required">
         Required!</span>
          <span class="error" ng-show="input.$error.date">Not a valid date!</span>
        </div>

    </div>
    <h5>Click on the map to set your location!</h5>
    <div class="form-group">
      <label>What's the plan?</label>
      <input type="text"
      class="form-control"
      ng-model="ctrl.list_item.description"
       required></input>
        <div role="alert">
          <span class="error" ng-show="input.$error.required">
         Required!</span>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>

  


