  <div class="page-header">
      <h1 ui-sref="lists">Manila</h1>

  </div>

    <div class="input-group">
    <span class="input-group-btn">
    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
    </span>
    <input type="search" class="form-control" placeholder="Search by username, list title, item title, description or location" ng-model="search">
    </div>


    <!--<ul class="nav nav-pills">
    <li ng-model="search.list.user_id" ng-click="search.list.user_id == '{{ctrl.user.user.id}}'"><a href="#/lists">My Lists</a></li>
    <li ng-model="" ng-click="show='Incomplete'"><a href="#/lists">All Lists</a></li>
    </ul>-->


  <div class="row">


    <div class="col-xs-4">
    <div class="list-group">
      <a ui-sref="lists.listsadd({id: list.id})" ng-repeat="list in ctrl.lists.lists | filter :search" ng-class="{'active' : currentShow === list}" class="list-group-item" ng-click="changeTodo(list)">{{list.title}} - by {{list.user.username}}<span class="badge">{{list.list_items.length}}</span></a>
    
    </div>

    
    <form ng-submit="ctrl.addList(ctrl.list)"
        >
        <h3>Add a new list</h3>

        <div class="form-group">
          <input type="text"
          ng-pristine
          class="form-control"
          placeholder="Title"
          ng-model="ctrl.list.title"></input>
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
      </form>
    </div>



      <div class="col-xs-4">
      <ol class="list-unstyled" ng-repeat="list in ctrl.lists.lists track by $index" ng-show="list === currentShow" ng-model="list.list_items">
        <h3>{{list.title}}</h3>
        <li class="list-group-item" ng-repeat="list_item in list.list_items | filter :search">
          <h4 class="list-group-item-heading">
            {{list_item.title}}</h4>
          <p class="list-group-item-text">
            {{list_item.location}}</p>
          <p class="list-group-item-text">
            {{list_item.description}}</p>
    
        </li>      
        <div ng-if="currentShow.user.id === ctrl.user.user.id" ui-view></div>

      </ol>

    </div>
    <div class="col-xs-4">
          <div > 
      <div id="map_canvas">
        <ui-gmap-google-map center="map.center" options="map.options" events="map.events" zoom="map.zoom">
        <ui-gmap-marker ng-if="currentShow.user.id === ctrl.user.user.id" ng-repeat="m in map.markers" coords="m.coords" icon="m.icon" idkey="m.id"></ui-gmap-marker>
      </ui-gmap-google-map>
      </div>
    </div>
  </div>
</div>


