<div>
  <h2>{{ user.data.email}}</h2>
  <p>{{ user.data.email}}</p>
</div>

        <ui-gmap-google-map ng-if="!(currentShow.user.id === ctrl.user.user.id)"center="map.center" options="map.options" zoom="map.zoom"> 
        </ui-gmap-google-map>

        <ui-gmap-google-map ng-if="currentShow.user.id === ctrl.user.user.id" center="map.center" options="map.options" zoom="map.zoom"events="map.events"> 
          <ui-gmap-marker ng-if="currentShow.user.id === ctrl.user.user.id" ng-repeat="m in currentShow.list_items" coords="m.list_item.location" icon="m.icon" idkey="m.id">
          </ui-gmap-marker>
        </ui-gmap-google-map>