<div class="page-header">
    <h1 ui-sref="lists">Manila</h1>
</div>
<h4>{{ctrl.user.user.username}}</h4>




 <div class="input-group">
    <span class="input-group-btn">
    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
    </span>
    <input type="search" class="form-control" placeholder="Search by username, list title, item title, description or location" ng-model="search">
    </div>




  <div class="row">

    <div class="col-xs-4">
    <div class="list-group">
      <a ui-sref="manilla.listsadd({id: list.id})" ng-repeat="list in ctrl.lists.lists | filter :search" ng-if="list.user.id === ctrl.user.user.id" ng-class="{'active' : currentShow === list}" class="list-group-item" ng-click="changeTodo(list)">{{list.title}} - by {{list.user.username}}<span class="badge">{{list.list_items.length}}</span></a>
    
    </div>

    
    <form ng-submit="ctrl.addList(ctrl.list)"
        >
        <h3>Add a new list</h3>

        <div class="form-group">
          <input type="text"
          ng-pristine
          class="form-control"
          placeholder="Title"
          ng-model="ctrl.list.title"></input>
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
      </form>
    </div>


      <div class="col-xs-4">
      <ol class="list-unstyled" ng-repeat="list in ctrl.lists.lists" ng-show="list === currentShow" ng-model="list.list_items">
        
        <h3 ng-if="(currentShow.user.id === ctrl.user.user.id)" editable-text="list.title" onaftersave="ctrl.editListTitle(list)">{{list.title}}</h3>                                                                                                                                                            <button type="button" class="remove" ng-if="(currentShow.user.id === ctrl.user.user.id)" ng-click="ctrl.removeList($index, list)">X</button></h3>
        </li>



        <li class="list-group-item" ng-repeat="list_item in list.list_items | filter :search">

          <h4 ng-if="(currentShow.user.id === ctrl.user.user.id)" editable-text="list_item.title" class="list-group-item-heading" onaftersave="ctrl.editListItemTitle(list_item)">{{list_item.title}}</h4>



        

          <p ng-if="(currentShow.user.id === ctrl.user.user.id)" editable-text="list_item.date" onaftersave="ctrl.editListItemDate(list_item)" class="list-group-item-text">
            Finishing Before: {{list_item.date | date: mm-DD-yyyy}}</p>




          <p ng-if="(currentShow.user.id === ctrl.user.user.id)"  editable-text="list_item.description" onaftersave="ctrl.editListItemDescription(list_item)" class="list-group-item-text">
            Description: {{list_item.description}}</p>




          <button type="button" class="remove" ng-if="(currentShow.user.id === ctrl.user.user.id)" ng-click="ctrl.removeListItem($index, list_item, list)">X</button>

          
          <a  ng-if="(currentShow.user.id === ctrl.user.user.id)" type="submit" editable-radiolist="list_item.completed" e-ng-options="s.value as s.text for s in completed" onaftersave="ctrl.editListItemStatus(list_item)">{{showStatus(list_item)}}</a>

  
        </li>
        
          <!--<a editable-checkbox="list_item.completed" e-title="Completed?" onaftersave="ctrl.editListItemStatus(list_item)">{{ctrl.showStatus(list_item)}}</a>-->
        <!--<button ng-if="currentShow.user.id === ctrl.user.user.id" id="show-addform" value="Add" ng-click="addform=!addform" />-->
        <div ng-if="currentShow.user.id === ctrl.user.user.id" ui-view></ui-view>
      </ol>

    </div>
    <div class="col-xs-4">
          <div > 
      <div id="map_canvas">


        <ui-gmap-google-map ng-if="currentShow.user.id === ctrl.user.user.id" center="map.center" options="map.options" zoom="map.zoom"events="map.events"> 
          <ui-gmap-marker ng-if="currentShow.user.id === ctrl.user.user.id" ng-repeat="m in currentShow.list_items" coords="{latitude: m.latitude, longitude: m.longitude}" icon="m.icon" idkey="m.gmapkey">
          </ui-gmap-marker>
        </ui-gmap-google-map>

      </div>
    </div>
  </div>
</div>