  <div class="page-header">
      <h1 ui-sref="manila.lists">Manila</h1>
  </div>
  <div ng-show="!ctrl.user">
    <h4> Welcome!</h4>
    <h5>This is Manila. I built Manila because I've always been a list guy. Groceries? Make a list. Applying to jobs? Make a list! Ideas for a list project? First, make a list! But the most important lists to me were always my summer lists. The lists that chronicled my hopes, dreams, and activities through a summer vacation. This app is what I'd like to call a bucket map. Whether you're setting up a list for lunch, or a list for life, pick a location on the map and then fill in the details! You can also check out other user's maps by viewing the home page, as well as search for specific users items.<br><br>  If you like this check out my other applications at github.com/pajamaw. If you'd like to get in contact with me email pjpeterww@gmail.com and say hi! My name's PJ Wickwire and I'm more than happy to help you out.</h5>
  
  </div>

  <ui-view></ui-view>

