  <div class="page-header">
      <h1>Manila</h1>

  </div>
  <div>
    <table ng-repeat="list in ctrl.lists.lists" class="table table-bordered table-striped table-fixed-header">
      <thead class="header">
        <tr>
          <th style="text-align: left"><a ui-sref="manila.listsadd({id: list.id})">{{ list.title }}</a> - by: {{ list.user.username }}</th>
        </tr>
        <tr>
          <th style="text-align: left">Title</th>
          <th style="text-align: right">Location</th>
          <th style="text-align: right">Description</th>
          <th style="text-align: right">Date</th>
          <th style="text-align: right">Completed?</th>
        </tr>
     </thead>

      <tbody>
        <tr ng-repeat="list_item in list.list_items">
          <td style="text-align: left">{{ list_item.title}}</td>
          <td style="text-align: left">{{ list_item.location}}</td>
          <td style="text-align: left">{{ list_item.description}}</td>
          <td style="text-align: left">{{ list_item.date}}</td>
          <td style="text-align: left">{{ list_item.completed}}</td>
         </tr>

      </tbody>

    </table>
    </div>
    <ui-view></ui-view>
      <form ng-submit="ctrl.addList()"
        style="margin-top:30px;">
        <h3>Add a new list</h3>

        <div class="form-group">
          <input type="text"
          class="form-control"
          placeholder="Title"
          ng-model="ctrl.list.title"></input>
        <button type="submit" class="btn btn-primary">Create</button>
      </form>
