<!DOCTYPE html>
<html>
<head>
  <title>Manila</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

    <script src="node_modules/angular/angular.min.js"></script>
    <script src="app/assets/javascripts/app.js"></script>
    <script src="app/assets/javascripts/controllers/MainController.js"></script>
</body>
</html>
